body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    background-color: lightpink;
}

h1{
    text-align: center;
}

#container{
    width: 960px;
    margin-left: 50px;
    margin-top: 25px;
}
.gridRow{
    display: flex;
}

.gridBox{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #f8f8ff;
}

.resetBtn{
    margin-left: 500px;
}